/*-----------------------HOJA PRODUCTOS-----------------------*/
body{
    margin: 0;
    padding: 0;
    background: rgb(170,99,51);
    background: radial-gradient(circle, rgba(170,99,51,0) 0%, rgba(255,128,0,1) 100%);
}
/* HEADER */
header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255,128,0,1) 100%;
}
.logo-nav{
    height: 100px;
    width: 100px;
}
/*Main*/

.contenedorprod{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    height: 300px;
    width: 500px;
}
.productos{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* FOOTER */
.menu__Footer{
    margin: auto;
    overflow: hidden;
}
.menufot__mapa{
    width: 100%;
    height: 200px;
}
.gmail{
    height: 50px;
    width: 50px;
}
.whatsapp{
    height: 50px;
    width: 50px;
}
.ubicacion{
    height: 50px;
    width: 50px;
}